<article>

This is the partial
Get the order items here before the cart empties

<% enhanced_cart.each do |item| %>
    <li> <%= item.inspect  %></li>
    <li> name </li>
    <li> desc </li>
    <li> qnt, total </li>
    <% end %>


</article>