<div class="order-summary jumbotron">
  <h1>About Us</h1>
  <div class="panel panel-default items">
    
  <h6>The store's owner's information goes here. This page sells stuff. </h6>

  <img src="https://static.scientificamerican.com/sciam/cache/file/ACF0A7DC-14E3-4263-93F438F6DA8CE98A_source.jpg?w=590&h=800&896FA922-DF63-4289-86E2E0A5A8D76BE1" />  
  </div>
</div>